*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
body{background:url(img/bg.png) repeat;font:300 normal 14px/18px "Roboto mono",Arial,Georgia,"Times New Roman",Times,serif}
h1{color:#39c6b9;font-size:24px;font-weight:400}
h2{color:#39c6b9;font-size:24px;font-weight:400;padding:15px 0}
.clr{clear:both}
.content{width:800px;margin:20px auto;z-index:20}
.post{background:#F5F5F5;width:100%;padding:20px;margin-bottom:20px;float:left;border:1px solid #e2e2e2;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.description{color:#252736;font-size:16px;line-height:18px;margin-top:10px;text-align:justify;text-indent:7%}
#inline{background:none;border:3px solid rgba(0,0,0,0.1);text-align:center}
.txt{display:inline-block;color:#676767;width:30%;margin:0px 0.5% 10px 0.5%;border:1px solid #ccc;padding:5px 10px;font-size:15px !important;line-height:1.4em}
.txtarea{resize:vertical;color:#676767;width:92%;margin:0.5%;border:1px solid #ccc;padding:10px;font-size:15px!important;line-height:1.4em;height:80px}
.wrap{width:92%;margin:0 auto;text-align:left}
.txt:focus,.txtarea:focus{border-style:solid;border-color:#bababa;color:#444}
input.error,textarea.error{border-color:#973d3d;border-style:solid;background:#f0bebe;color:#a35959}
input.error:focus,textarea.error:focus{border-color:#973d3d;color:#a35959}
#send{color:#FFF;display:block;cursor:pointer;margin-top:20px;padding:10px 12px;font-size:1.2em;border:solid 1px #F9F9F9;border-radius:2px;background:#70C6B9;width:210px;margin-bottom:20px;text-transform:uppercase}
#send:hover{background:#979797}
@media (max-width:1199px){
.txt{display:block;width:100%;margin:0 0 5px 0}
.txtarea{width:100%;margin:0}
#send{width:100%}
#inline{width:100%;padding:0 10px}
.content {width:100%}
.wrap{width:100%}
}